// dbw colour palette
$dbw-red: #dc003e;
$dbw-maroon: #871e3c;
$dbw-yellow: #fdc300;
$dbw-blue: #28b8ce;
$dbw-light-blue: #d4edfc;
$dbw-med-blue: #007bff;
$dbw-green: #005c2b;
$dbw-light-green: #96cb9a;
$dbw-background-green: #d7e9d8;
$dbw-background-green-hover: #c5e0c7;
$dbw-white: #fff;
$dbw-light-grey: #dedede;
$dbw-table-grey: #efefef;
$dbw-background-grey: #f9f9f9;
$dbw-grey: #989fac;
$dbw-black: #3c3c3c;

// colours
$primary: $dbw-green;
$danger: $dbw-red;

// fonts
$body-color: $dbw-black;

$font-size-base: 20;
$h1-font-size: 48px;
$h2-font-size: 40px;
$h3-font-size: 32px;
$h4-font-size: 24px;
$h5-font-size: 20px;
$h6-font-size: 18px;

// buttons
$btn-border-radius: 25px;
$btn-border-width: 2px;
$btn-padding-y: 6.5px;
$btn-padding-x: 30px;
$btn-font-size: 18px;
$btn-font-weight: 800;
$font-family-base: 'AzoSansWebLight', Fallback, sans-serif;

// input fields
$input-height: 44px;
$input-border-radius: 2px;
$input-border-color: $dbw-black;
$input-border-width: 1px;
$input-btn-focus-box-shadow: 0 0 0 2px $dbw-yellow;
$input-focus-border-color: $dbw-black;

// grid
$grid-breakpoints: (
  xs: 0,
  sm: 320px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@media screen and (max-width: map-get($grid-breakpoints, "md")) {
  $grid-columns: 4;
}
@media screen and (max-width: map-get($grid-breakpoints, "lg")) {
  $grid-columns: 6;
}
@media screen and (max-width: map-get($grid-breakpoints, "xl")) {
  $grid-columns: 12;
}
@media screen and (min-width: map-get($grid-breakpoints, "xl")) {
  $grid-columns: 12;
}

$grid-gutter-width: 30px !default;